.base {
  width: 400px;
  margin: auto;
}
.base .infinite {
  border-radius: 6px;
}
.base .post {
  padding: 10px;
}
.base .post div {
  color: gold;
  height: 80px;
  font-size: 26px;
  line-height: 80px;
  text-align: center;
  border-radius: 6px;
}
